@font-face {
    font-family: 'formularbold';
    src: url('../fonts/formular-bold.woff2') format('woff2'),
         url('../fonts/formular-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'formularregular';
    src: url('../fonts/formular-regular.woff2') format('woff2'),
         url('../fonts/formular-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}