@media screen and (max-width: 1280px) {
	.main {
		&-text {
			padding: 15px 80px;
			
			
			&-item {
				
				padding: 15px 80px;
				
				.icon {
					position: absolute;
					left: 25px;
					top: 10px;
					font-size: 42px;
					color: $clear-blue;
				}
			}
		}
	}
}

@media screen and (max-width: 980px) {
	
	.container {
		flex-direction: column;
	}
	.sidebar {
		width: 100%;
		padding: 15px 0;
	}
	
	.menu-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		z-index: 5;
		width: 50px;
		height: 50px;
		padding: 10px;
		border: 1px solid $grey-blue;
		border-radius: 25px;
		transition: all 0.3s;
		
	}
	#menuButton {

		&:checked {
			~ .menu-button .menu-ico {
				height: 0;

				&:after {
					transform: rotate(45deg);
					top: -1px;
				}

				&:before {
					transform: rotate(-45deg);
					bottom: -1px;
				}

			}
			~ .header-links {
				max-height: 1000px;
				padding: 0;
				ul li a {
					padding: 15px;
				}

			}
			
		} 

	}
	.header {
		position: relative;
		padding: 0 75px 0 0;
		height: 75px;
		.menu-button {
			right: 15px;
			left: auto;
		}
		&-button {
			width: 100%;
			text-align: center;
		}
		&-nav {
			width: 100%;
			text-align: center;
		}
		&-links {
			position: absolute;
			width: 100%; 
			max-width: 400px;
			right: 0;
			top: 75px;
			overflow: hidden;
			max-height: 0;
			transition: all 0.3s;
			display: flex;
			flex-direction: column;
			background-color: #09090F;
		}
		&-nav {
			ul {
				flex-direction: column;
				width: 100%;
				li {
					border-bottom: 1px solid #333;
					padding: 0;
					a {
						display: block;
						padding: 0 15px;
					}
				}
			}
		}
	}
	
	.footer {
		background-color: #09090F;
	}
}

@media screen and (max-width: 640px) {
	.main {
		&-text {
			padding: 15px;
			
			
			&-item {
				width: 100%;
				padding: 15px 15px 15px 80px;
			}
		}
	}
}