@import "fonts";
@import "variables";


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:before, &:after{
		box-sizing: border-box;
	}
		
}

html, body {
	height: 100%;
}
    
body {
	font-size: 16px;
	font-family: 'formularregular', sans-serif;
	line-height: normal;
}

img {
	max-width: 100%;
}
	
a {
	color: inherit;
	text-decoration: none;
	outline: none;
	position: relative;
}
.right {
	float: right;
	padding: 0 0 15px 15px;
	img {
		display: block;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	line-height: normal;
	background-color: #09090F;
}

.container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	height: 100%;
	flex: 1 0;
}

.flex {
	display: flex;
}
	

.text {
	&-center {
		text-align: center;
	}
		
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

h1, .h1, h2, .h2 {
	color: $white;
	margin: 0 0 15px;
	font-weight: normal;
	position: relative;
	font-family: 'formularbold', sans-serif;
}
	
h1, .h1 {
	font-size: 34px;
}

h2, .h2 {
	font-size: 20px;
}

input, select, textarea {
	padding: 0;
	width: 100%;
	display: inline-flex;
	align-items: center;
	color: $grey-blue;
	font-size: 14px;
	background-color: inherit;
	transition: all 0.3s;
	
}
	
textarea {
	resize: vertical
}
	
button, input, select, textarea {
	font-family: 'formularregular', sans-serif;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 26px;
	border-radius: 4px;
	padding: 0 15px;
	transition: all 0.3s;
	cursor: pointer;
	
	&-opacity {
		border: 1px solid $grey-blue;
		color: darken($white,70%);
		&:hover {
			color: $white;
			border-color: $white;
		}
			
		&:active {
				
		}
	}
	
	&-blue {
		background-color: #267df4;
		color: #fff;
		font-family: 'formularbold';
		width: 100%;
		height: 38px;
		color: $white;
		font-size: 16px;
		box-shadow: 0 2px 0 0 #0053ff;
		background-image: linear-gradient(to bottom, $clear-blue-two, $clear-blue);
		border: 1px solid #568cff;
		&:hover {
				
		}
			
		&:active {
				
		}
	}
		
}

.header {
	position: relative;
	transition: all 0.3s;
	z-index: 2;
	display: flex;
	align-items: center;
	&-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.logo {
		padding: 15px;
		color: $clear-blue;
		font-size: 36px;
	}
	&-nav {
		ul {
			display: flex;
			justify-content: space-between;
			list-style-type: none;
			li {
				padding: 15px;
				a {
					color: $grey-blue;
					transition: all 0.3s;
					&:hover {
						color: $white;
					}
				}
			}
		}
	}
	&-button {
		padding: 15px;
	}
}
	

.menu-button {
	display: none;
	width: 28px;
	height: 28px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translate(0, -50%);
	z-index: 3;
}
	

.menu-ico {
	height: 2px;
	width: 100%;
	position: relative;
	background-color: $grey-blue;
	display: block;
	top: auto;
	transition: all 0.3s;
	&:after, &:before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $grey-blue;
		transition: all 0.3s;
	}
		
	&:after {
		top: -6px
	}
		
	&:before {
		bottom: -6px
	}
		
}
	
#menuButton {
	display: none;		
}

.content {
	position: relative;
	background-color: $dark;
	width: 100%;
}

.text {
	font-size: 14px;
	font-weight: 300;
	p {
		margin: 15px 0;
	}
	time {
		display: block;
		font-size: 14px;
		margin: 30px 0;
		font-weight: 300;
		color: lighten($grey-blue,70%);
	}
}	

.main {
	&-text {
		padding: 30px 120px;
		font-size: 20px;
		color: $grey-blue;
		&-list {
			display: flex;
			flex-wrap: wrap;
		}
		&-item {
			position: relative;
			padding: 30px 120px;
			width: 50%;
			font-size: 16px;
			color: $grey-blue;
			.icon {
				position: absolute;
				left: 50px;
				top: 20px;
				font-size: 50px;
				color: $clear-blue;
			}
		}
	}
}

.sidebar {
	width: 28%;
	flex: none;
	display: block;
	background-color: $dark-two;
	&-wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&-form {
		height: 100%;
	}
	&-head {
		margin: 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-title {
			font-size: 20px;
			padding: 15px;
			color: $white;
		}
		&-links {
			font-size: 14px;
			padding: 15px;
			color: darken($white,50%);
			a {
				color: $white;
			}
		}
	}
	
}

.form {
	display: flex;
	flex-direction: column;
	height: 100%;
	&-item {
		margin: 10px 0;
		padding: 15px;
		input, select, textarea {
			border: none;
			border-bottom: 1px solid $grey-blue;
			color: $white;
			height: 26px;
			
			&:focus {
				border-color: $white;
				box-shadow: inset 0 -1px 0 0 $white;
			}
		}
		&-password {
			position: relative;
			input {
				padding: 0 40px 0 0;
				&[type='text'] + .form-item-password-button .icon-not-view {
					position: relative;
					left: auto;
				}
				&[type='text'] + .form-item-password-button .icon-view {
					position: absolute;
					left: -999px;
				}
			}
			&-button {
				position: absolute;
				right: 0;
				top: -2px;
				background-color: inherit;
				border: none;
				color: $grey-blue;
				font-size: 26px;
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.icon {
					transition: all 0.3s;
					position: static;
					left: auto;
				}
				.icon-not-view {
					position: absolute;
					left: -999px;
				}
				&:hover {
					color: $white;
				}
			}
			&-link {
				font-size: 12px;
				padding: 5px 0;
				text-align: right;
				a {
					color: $grey-blue;
					transition: all 0.3s;
					&:hover {
						color: $white;
					}
				}
			}
		}
	}
	&-button {
		padding: 15px;
		margin-top: auto;
	}
}

.footer {
	flex: 0 0 auto;	
	display: flex;
	justify-content: flex-end;
	font-size: 12px;
	&-link {
		padding: 15px;
		a {
			color: $grey-blue;
			transition: all 0.3s;
			&:hover {
				color: $white;
			}
		}
	}
}

@import "media";

