@font-face {
  font-family: 'formularbold';
  src: url("../fonts/formular-bold.woff2") format("woff2"), url("../fonts/formular-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'formularregular';
  src: url("../fonts/formular-regular.woff2") format("woff2"), url("../fonts/formular-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  font-family: 'formularregular', sans-serif;
  line-height: normal; }

img {
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  position: relative; }

.right {
  float: right;
  padding: 0 0 15px 15px; }
  .right img {
    display: block; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  line-height: normal;
  background-color: #09090F; }

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  flex: 1 0; }

.flex {
  display: flex; }

.text-center {
  text-align: center; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

h1, .h1, h2, .h2 {
  color: #ffffff;
  margin: 0 0 15px;
  font-weight: normal;
  position: relative;
  font-family: 'formularbold', sans-serif; }

h1, .h1 {
  font-size: 34px; }

h2, .h2 {
  font-size: 20px; }

input, select, textarea {
  padding: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  color: #69728b;
  font-size: 14px;
  background-color: inherit;
  transition: all 0.3s; }

textarea {
  resize: vertical; }

button, input, select, textarea {
  font-family: 'formularregular', sans-serif; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  border-radius: 4px;
  padding: 0 15px;
  transition: all 0.3s;
  cursor: pointer; }
  .btn-opacity {
    border: 1px solid #69728b;
    color: #4d4d4d; }
    .btn-opacity:hover {
      color: #ffffff;
      border-color: #ffffff; }
  .btn-blue {
    background-color: #267df4;
    color: #fff;
    font-family: 'formularbold';
    width: 100%;
    height: 38px;
    color: #ffffff;
    font-size: 16px;
    box-shadow: 0 2px 0 0 #0053ff;
    background-image: linear-gradient(to bottom, #1b91ff, #2068ff);
    border: 1px solid #568cff; }

.header {
  position: relative;
  transition: all 0.3s;
  z-index: 2;
  display: flex;
  align-items: center; }
  .header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .header .logo {
    padding: 15px;
    color: #2068ff;
    font-size: 36px; }
  .header-nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
    .header-nav ul li {
      padding: 15px; }
      .header-nav ul li a {
        color: #69728b;
        transition: all 0.3s; }
        .header-nav ul li a:hover {
          color: #ffffff; }
  .header-button {
    padding: 15px; }

.menu-button {
  display: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  z-index: 3; }

.menu-ico {
  height: 2px;
  width: 100%;
  position: relative;
  background-color: #69728b;
  display: block;
  top: auto;
  transition: all 0.3s; }
  .menu-ico:after, .menu-ico:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #69728b;
    transition: all 0.3s; }
  .menu-ico:after {
    top: -6px; }
  .menu-ico:before {
    bottom: -6px; }

#menuButton {
  display: none; }

.content {
  position: relative;
  background-color: #13141c;
  width: 100%; }

.text {
  font-size: 14px;
  font-weight: 300; }
  .text p {
    margin: 15px 0; }
  .text time {
    display: block;
    font-size: 14px;
    margin: 30px 0;
    font-weight: 300;
    color: white; }

.main-text {
  padding: 30px 120px;
  font-size: 20px;
  color: #69728b; }
  .main-text-list {
    display: flex;
    flex-wrap: wrap; }
  .main-text-item {
    position: relative;
    padding: 30px 120px;
    width: 50%;
    font-size: 16px;
    color: #69728b; }
    .main-text-item .icon {
      position: absolute;
      left: 50px;
      top: 20px;
      font-size: 50px;
      color: #2068ff; }

.sidebar {
  width: 28%;
  flex: none;
  display: block;
  background-color: #181925; }
  .sidebar-wrap {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .sidebar-form {
    height: 100%; }
  .sidebar-head {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sidebar-head-title {
      font-size: 20px;
      padding: 15px;
      color: #ffffff; }
    .sidebar-head-links {
      font-size: 14px;
      padding: 15px;
      color: gray; }
      .sidebar-head-links a {
        color: #ffffff; }

.form {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .form-item {
    margin: 10px 0;
    padding: 15px; }
    .form-item input, .form-item select, .form-item textarea {
      border: none;
      border-bottom: 1px solid #69728b;
      color: #ffffff;
      height: 26px; }
      .form-item input:focus, .form-item select:focus, .form-item textarea:focus {
        border-color: #ffffff;
        box-shadow: inset 0 -1px 0 0 #ffffff; }
    .form-item-password {
      position: relative; }
      .form-item-password input {
        padding: 0 40px 0 0; }
        .form-item-password input[type='text'] + .form-item-password-button .icon-not-view {
          position: relative;
          left: auto; }
        .form-item-password input[type='text'] + .form-item-password-button .icon-view {
          position: absolute;
          left: -999px; }
      .form-item-password-button {
        position: absolute;
        right: 0;
        top: -2px;
        background-color: inherit;
        border: none;
        color: #69728b;
        font-size: 26px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .form-item-password-button .icon {
          transition: all 0.3s;
          position: static;
          left: auto; }
        .form-item-password-button .icon-not-view {
          position: absolute;
          left: -999px; }
        .form-item-password-button:hover {
          color: #ffffff; }
      .form-item-password-link {
        font-size: 12px;
        padding: 5px 0;
        text-align: right; }
        .form-item-password-link a {
          color: #69728b;
          transition: all 0.3s; }
          .form-item-password-link a:hover {
            color: #ffffff; }
  .form-button {
    padding: 15px;
    margin-top: auto; }

.footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  font-size: 12px; }
  .footer-link {
    padding: 15px; }
    .footer-link a {
      color: #69728b;
      transition: all 0.3s; }
      .footer-link a:hover {
        color: #ffffff; }

@media screen and (max-width: 1280px) {
  .main-text {
    padding: 15px 80px; }
    .main-text-item {
      padding: 15px 80px; }
      .main-text-item .icon {
        position: absolute;
        left: 25px;
        top: 10px;
        font-size: 42px;
        color: #2068ff; } }
@media screen and (max-width: 980px) {
  .container {
    flex-direction: column; }

  .sidebar {
    width: 100%;
    padding: 15px 0; }

  .menu-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid #69728b;
    border-radius: 25px;
    transition: all 0.3s; }

  #menuButton:checked ~ .menu-button .menu-ico {
    height: 0; }
    #menuButton:checked ~ .menu-button .menu-ico:after {
      transform: rotate(45deg);
      top: -1px; }
    #menuButton:checked ~ .menu-button .menu-ico:before {
      transform: rotate(-45deg);
      bottom: -1px; }
  #menuButton:checked ~ .header-links {
    max-height: 1000px;
    padding: 0; }
    #menuButton:checked ~ .header-links ul li a {
      padding: 15px; }

  .header {
    position: relative;
    padding: 0 75px 0 0;
    height: 75px; }
    .header .menu-button {
      right: 15px;
      left: auto; }
    .header-button {
      width: 100%;
      text-align: center; }
    .header-nav {
      width: 100%;
      text-align: center; }
    .header-links {
      position: absolute;
      width: 100%;
      max-width: 400px;
      right: 0;
      top: 75px;
      overflow: hidden;
      max-height: 0;
      transition: all 0.3s;
      display: flex;
      flex-direction: column;
      background-color: #09090F; }
    .header-nav ul {
      flex-direction: column;
      width: 100%; }
      .header-nav ul li {
        border-bottom: 1px solid #333;
        padding: 0; }
        .header-nav ul li a {
          display: block;
          padding: 0 15px; }

  .footer {
    background-color: #09090F; } }
@media screen and (max-width: 640px) {
  .main-text {
    padding: 15px; }
    .main-text-item {
      width: 100%;
      padding: 15px 15px 15px 80px; } }
